{% for i in irq_tune_static %}
{% if loop.first %}{{ '[\n' }}{% endif %}
{{ '  { \"cores\": [' + i.cores + '], \"irq\": \"' + i.irq + '\", \"name\": \"' + i.name + '\" }' }}
{%- if not loop.last %}
{{ ',' }}
{% else %}
{{ '\n]' }}
{% endif %}
{% endfor %}
